@import "@openedx/paragon/scss/core/core.scss";

@import "./footer/footer";

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 4px;
}

.gap-1\.5 {
  gap: 6px;
}

.gap-2 {
  gap: 8px;
}

.gap-2\.5 {
  gap: 12px;
}

.gap-3 {
  gap: 16px;
}

.gap-3\.5 {
  gap: 20px;
}

.gap-4 {
  gap: 24px;
}

.gap-4\.5 {
  gap: 32px;
}

.gap-5 {
  gap: 48px;
}

.gap-5\.5 {
  gap: 64px;
}

.gap-6 {
  gap: 80px;
}

.row-gap-0 {
  row-gap: 0px;
}

.row-gap-1 {
  row-gap: 4px;
}

.row-gap-1\.5 {
  row-gap: 6px;
}

.row-gap-2 {
  row-gap: 8px;
}

.row-gap-2\.5 {
  row-gap: 12px;
}

.row-gap-3 {
  row-gap: 16px;
}

.row-gap-3\.5 {
  row-gap: 20px;
}

.row-gap-4 {
  row-gap: 24px;
}

.row-gap-4\.5 {
  row-gap: 32px;
}

.row-gap-5 {
  row-gap: 48px;
}

.row-gap-5\.5 {
  row-gap: 64px;
}

.row-gap-6 {
  row-gap: 80px;
}

.column-gap-0 {
  column-gap: 0px;
}

.column-gap-1 {
  column-gap: 4px;
}

.column-gap-1\.5 {
  column-gap: 6px;
}

.column-gap-2 {
  column-gap: 8px;
}

.column-gap-2\.5 {
  column-gap: 12px;
}

.column-gap-3 {
  column-gap: 16px;
}

.column-gap-3\.5 {
  column-gap: 20px;
}

.column-gap-4 {
  column-gap: 24px;
}

.column-gap-4\.5 {
  column-gap: 32px;
}

.column-gap-5 {
  column-gap: 48px;
}

.column-gap-5\.5 {
  column-gap: 64px;
}

.column-gap-6 {
  column-gap: 80px;
}
