node_modules
npm-debug.log
coverage
module.config.js
/.tsbuildinfo.*
dist/
scss
docs/api

### i18n ###
src/i18n/transifex_input.json

### Editors ###
.DS_Store
*~
/temp
/.vscode

### pack ###
/*.tgz
pack
